.count-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* espacio entre el contador y el botón principal */
}

.count-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px; /* espacio entre los botones y el número */
}

.boton-contador {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 1rem;
  font-weight: bold;
  background: linear-gradient(
    to right,
    rgba(0, 122, 51, 0.7),
    rgba(255, 255, 255, 0.7),
    rgba(212, 45, 45, 0.7)
  );
  border: none;
  color: rgb(8, 8, 8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}


.boton-contador:hover {
  transform: scale(1.05);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
}
