.boton {
  display: block;
  width: fit-content;
  margin: 30px auto;
  padding: 12px 24px;
  font-size: 1.1rem;
  font-weight: bold;
  background: linear-gradient(to right, #007a33, #ffffff, #d42d2d);
  border: none;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  color: rgb(117, 111, 111);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.boton:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}