.section-productos {
  text-align: center;
  padding: 40px 15px;
}

.section-productos h1 {
  margin-bottom: 20px;
}

.degradado-mexico {
  display: inline-block;
  background: linear-gradient(to right, #008c45, #ffffff, #cd212a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  -webkit-text-stroke: 0.6px black;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}